#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20rem;
  margin: 0 auto;  
}

.form-container input {
  padding: 0.5rem;
  margin: 0.5rem;
}

.book-item-container {
  padding: 2px;
}